body {
    font-family: Arial;
    background: #2be6f076;
    padding: 20px;
}

h1 {
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: rgb(153, 198, 201);
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    background: #007bff;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}

.product-detail {
    background: white;
    padding: 20px;
    max-width: 500p;
    margin: auto;
    border-radius: 8px;
}

.product-detail img {
    width: 100%;
}
